.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 500px; /* Ubah width menjadi max-width */
    width: 100%; /* Tambahkan width 100% */
    margin: 0 auto; /* Tambahkan margin auto */
}

.login-heading {
    margin-bottom: 2rem;
    text-align: center; /* Tambahkan text-align center */
}

.login-button {
    width: 100%;
    margin-top: 1rem;
}

.login-container .form-control {
    margin-bottom: 1rem;
    width: 100%;
}

.login-options {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    width: 100%;
}

.forgot-password,
.register-link {
    color: #555;
    font-size: 14px;
    cursor: pointer;
}

.register-link {
    margin-left: 1rem;
}

.login-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
